


.conteudo {background:blue; border: 1px solid green;
 width: 200px; height: 200px;
            color: white;
            float: left; margin: 10px;}
            /*
.conteudo1 {background:red; border: 1px solid green;
            width: 200px; height: 645px;
            color: white;
             margin: 10px  }
            /*
.conteudo3 {background:red; border: 1px solid green;
 width: 200px; height: 200px;
            color: white;}
            */
.clear {clear: both; }
        /*a propriedade clear tem 4 possiveis
        atributos, sendo eles o left; right
        both e none*/
#principal {border: 5px solid green;
            background:pink}