* {

     padding:0;
     margin:0;
}

body {

     font-family: "Trebuchet MS", Helvetica, sans-serif;
     background: #ffeadb  url('../img/coluna3.png') repeat-y;
     font-size: 1em;
}

#container {
     width: 1290px ;/*1366*/
     margin: 0 auto;
     background: #ffffff96;
}

#marca {

     height: 200px;
     background: #225992 url('../img/cabecalho2.jpg') no-repeat center;
     text-align:center;
     line-height: 200px;
}

#conteudo {

     width: 958px;
     float:right;
     line-height: 1.5em;
}

#centro {
    
     float: left;
     padding:0px;
}

#conteudo_centro {
     
     background:#a121213a;
     width: 638px;
     float: left;
     padding:10px;
}

h3+img {

     width: 97%;
     border:2px solid #ffffff96;

}


#direita {

     width: 275px;
     float: right;
     background: #a1212196;
     margin-left:25px
}

#nav {

     width:305px;
     float:left;
     padding-bottom:20px;
     background: #a1212196;
}

#rodape {

     clear:both;
     border-top: 2px solid #a12;
     background: #91021a;
     text-align: center;
}

#rodape a, #roadape a:visited {
     
     color: #fff; 
}

#rodape a:hover {
     
     color: #ffd586 ;
     text-decoration: underline;
}

/* 
******
 */

#nav ul {

     margin: 0;
     padding: 0;
     list-style-type: none;
}

#nav ul a {

     width: 200px;
     height: 40px;
     display: block;
     background: url("../img/menu.png") no-repeat left bottom;
     color: #fff;
     text-decoration: none;
     text-indent: 40px;
     line-height: 40px;
}

#nav a:hover {

     background-position: right bottom;
     color: #680028;
}


#marca h1 {
     
     color: #a12121;
     text-shadow: 5px 10px 3px #f571a3;
}

#conteudo_direito {
     
     padding:10px;
}

#contudo_centro {
     
     background: #a121213a;
     padding: 10px;
}

h2 {

     background: #f9946b;
     padding-bottom:15px;
     padding-left: 10px;
     line-height: 1.6em;
     color: #fff;
     text-decoration: underline;
}

h3 {
     
     padding: 15px 10px 30px;
     color: #ce014f
}

a:link, a:visited {

     color:#6800289c;
     text-decoration:none;
}

a:hover {

     color:#a12;
     text-decoration:underline;

}

/* #img {

     width: 60%;
     overflow: hidden; 

*** Essa popriedade acima oculta todo o conteudo
que quebra a div  ***

} */