* {

     padding:0;
     margin:0;
}

body {

     font-family: "Trebuchet MS", Helvetica, sans-serif;
     background: url("../img/689a2cbdc92a416fafe92b4042ba1b5d.jpg");
     font-size: 1em;
}

#container {
     width: 1024px;
     margin: 0 auto;
     background: #ffffff96;
}

#marca {

     height: 200px;
     background: #fff;
     text-align:center;
     line-height: 100px;
}

#conteudo {

     width: 740px;
     float:right;
     line-height: 1.5em;
}

#centro {

     width: 510px;
     float: left;
     padding:0px;
}

#direita {

     width: 200px;
     float: right;
     background: #a1212196;   
}

#nav {

     width:250px;
     float:left;
     padding-bottom:20px;
     background: #a1212196;
}

#rodape {

     clear:both;
     border-top: 2px solid #a12;
     background: #91021a62;
     text-align: center;
}

/* 
******
 */

#nav ul {

     margin: 0;
     padding: 0;
     list-style-type: none;
}

#nav ul a {

     width: 200px;
     height: 40px;
     display: block;
     background: url("../img/menu.png") no-repeat left bottom;
     color: #fff;
     text-decoration: none;
     text-indent: 40px;
     line-height: 40px;
}

#nav a:hover {

     background-position: right bottom;
     color: #680028;
}


#marca h1 {
     
     color: #a12121;
     text-shadow: 5px 10px 3px #f571a3;
}

#conteudo_direito {
     
     padding:10px;
}

#contudo_centro {
     
     background: #a121213a;
     padding: 10px;
}

h2 {

     background: #f9946b;
     padding-bottom:15px;
     padding-left: 10px;
     line-height: 1.6em;
     color: #fff;
     text-decoration: underline;
}

h3 {
     
     padding: 15px 10px 30px;
     color: #ce014f
}

a:link, a:visited {

     color:#6800289c;
     text-decoration:none;
}

a:hover {

     color:#a12;
     text-decoration:underline;

}