.body {

}

.h1 {

}

a {padding: 10px 31px ;
text-decoration: none;}

a:link, a:visited  {color: orange; 
background: #00FFCC;
}

a:hover {color: #FFCD6C;
background: #FC00FF;}

a:active {color: #AB0303;
background: #48FF00;}