.est-1{
    background: #FF0000;
    color: #fff;
    height:200px; 
    width: 50%;
}

.est-2{
    background: #00FF00;
    color: #000;
    height:200px; 
    width: 50%;
}

.est-3{
    background: #0000FF;
    color: #fff;
    height:200px; 
    width: 50%;
}
